.logosmall {
    height: 10%;
    width: 10%;
}

.historyheader {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 40px;
}

.historytitle {
    --padding-top: 0px;
    --padding-bottom: 0px;
    text-align: center;
}